
.icon-btn {
  background-image: url('../images/icons/icons-btn.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-btn {
    background-image: url('../images/icons/icons-btn@2x.png');
    background-size: 165px 150px;
  }
}

.icon-btn-walle-btn-lg {
  background-position: -0px -0px;
  width: 165px;
  height: 150px;
}

.icon-common {
  background-image: url('../images/icons/icons-common.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-common {
    background-image: url('../images/icons/icons-common@2x.png');
    background-size: 36px 36px;
  }
}

.icon-common-setting {
  background-position: -0px -0px;
  width: 36px;
  height: 36px;
}

.icon-jibo {
  background-image: url('../images/icons/icons-jibo.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-jibo {
    background-image: url('../images/icons/icons-jibo@2x.png');
    background-size: 1272px 711px;
  }
}

.icon-jibo-JiboFrameFade {
  background-position: -0px -0px;
  width: 1272px;
  height: 711px;
}

.icon-map {
  background-image: url('../images/icons/icons-map.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-map {
    background-image: url('../images/icons/icons-map@2x.png');
    background-size: 32px 80px;
  }
}

.icon-map-map {
  background-position: -0px -0px;
  width: 8px;
  height: 8px;
}
.icon-map-return {
  background-position: -0px -8px;
  width: 8px;
  height: 8px;
}
.icon-map-order {
  background-position: -0px -16px;
  width: 32px;
  height: 32px;
}
.icon-map-pills {
  background-position: -0px -48px;
  width: 32px;
  height: 32px;
}

.icon-sns {
  background-image: url('../images/icons/icons-sns.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .icon-sns {
    background-image: url('../images/icons/icons-sns@2x.png');
    background-size: 32px 48px;
  }
}

.icon-sns-me {
  background-position: -0px -0px;
  width: 8px;
  height: 8px;
}
.icon-sns-myauth {
  background-position: -0px -8px;
  width: 8px;
  height: 8px;
}
.icon-sns-dig {
  background-position: -0px -16px;
  width: 32px;
  height: 32px;
}
