# @walle-material-ui

root = true


[*]
charset = utf-8
indent_style = space
indent_size = 2

# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true

trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false

[*.{js,css,html}]
charset = utf-8
indent_style = space
indent_size = 2

[*.{py,sh}]
indent_style = space
indent_size = 4


[{package.json,bower.json}]
indent_style = tab

